# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Build folders
dist/
build/
uploads/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
